.dev-blue {
  border: 1px solid blue;
}

.dev-green {
  border: 1px solid green;
}

.dev-orange {
  border: 1px solid orange;
}

.deep-dive {
  background-image: linear-gradient(
    to right top,
    #384cd1,
    #3559d9,
    #3566df,
    #3772e6,
    #3c7eeb,
    #248ef4,
    #079efa,
    #00adff,
    #00c3ff,
    #00d7ff,
    #00eafa,
    #5ffbf1
  );
}

.beach-sdie {
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

.sky-dive {
  background-color: #06bcfb;
  background-image: linear-gradient(315deg, #08c8f6 0%, #248ef4 74%);
}

.translucent {
  opacity: 0.8;
  box-shadow: none;
}

//  ─────────────────────────────────────────────────────────────── OLD ───┐
.td-GV {
  color: tomato;
}

.td-LSP {
  color: dodgerblue;
}
// <───────────────────────────────────────────────────────────────────────┘
